import(devtools, grplasso, MASS, Matrix, mboost, parallel, plsRcox, pROC, survival, pkgconfig)

importFrom(cobs,
           cobs)

importFrom(corpcor,
           fast.svd)

importFrom(glmnet, 
           glmnet, cv.glmnet)

importFrom(graphics, 
           axis, close.screen, frame, legend, lines, mtext, par,
           plot, screen, split.screen)

importFrom(PRROC,
           pr.curve)

importFrom(RCurl,
           merge.list)

importFrom(stats, 
           aggregate, anova, as.formula, coef, model.weights, na.exclude,
           na.omit, p.adjust, predict, quantile, rbinom, rnorm, runif, rweibull)

importFrom(survAUC,
	   predErr, UnoC)

export(BMsel,
       expSurv,
       predRes,
       selRes,
       simdata,
       simdataV)

S3method(print, resBMsel)
S3method(summary, resBMsel)

S3method(print, resexpSurv)
S3method(predict, resexpSurv)
S3method(plot, resexpSurv)

S3method(print, predRes)
S3method(plot, predRes)



